# Medidas Principais

- qtd_media_gols_dentro_casa
- qtd_media_gols_fora_casa
- qtd_media_gols_sofridos_casa
- qtd_media_gols_sofridos_fora

# Imports

In [39]:
import pandas as pd
import requests

# Requisição das tabela

In [40]:
# Pegando a url da wikipedia, onde tem várias tabelas com diversas informações sobre o brasileirão 2023
url = "https://pt.wikipedia.org/wiki/Campeonato_Brasileiro_de_Futebol_de_2023_-_S%C3%A9rie_A"

# Retorna o html do site completo
requisicao = requests.get(url)

# Retorna todas as tabelas desse html
tabelas = pd.read_html(requisicao.text)

# Escolhendo só a tabela de classificação e jogos
tabela_classificacao = tabelas[6]
tabela_jogos = tabelas[7]

display(tabela_classificacao)
display(tabela_jogos)

C:\Users\gabri\AppData\Local\Temp\ipykernel_9092\497006418.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tabelas = pd.read_html(requisicao.text)

,Pos,Equipevde,Pts,J,V,E,D,GP,GC,SG,Classificação ou descenso
0,1,Palmeiras (T),63,35,18,9,8,58,32,+26,Fase de grupos da Copa Libertadores de 2024
1,2,Flamengo (T),63,35,18,9,8,54,37,+17,Fase de grupos da Copa Libertadores de 2024
2,3,Botafogo (T),62,35,18,8,9,56,33,+23,Fase de grupos da Copa Libertadores de 2024
3,4,Atlético Mineiro (X),60,35,17,9,9,46,27,+19,Fase de grupos da Copa Libertadores de 2024
4,5,Grêmio (X),59,35,18,5,12,57,53,+4,Segunda fase da Copa Libertadores de 2024
5,6,Red Bull Bragantino (X),59,35,16,11,8,46,31,+15,Segunda fase da Copa Libertadores de 2024
6,7,Fluminense (Q),53,35,15,8,12,46,43,+3,Fase de grupos da Copa Libertadores de 2024[a]
7,8,Athletico Paranaense,52,35,13,13,9,47,39,+8,Fase de grupos da Copa Sul-Americana de 2024
8,9,Cuiabá,48,35,13,9,13,36,35,+1,Fase de grupos da Copa Sul-Americana de 2024
9,10,São Paulo (Q),47,35,12,11,12,37,36,+1,Fase de grupos da Copa Libertadores de 2024[b]
10,11,Internacional,46,35,12,10,13,39,43,−4,Fase de grupos da Copa Sul-Americana de 2024
11,12,Fortaleza,45,35,12,9,14,40,42,−2,Fase de grupos da Copa Sul-Americana de 2024
12,13,Cruzeiro,44,35,11,11,13,33,30,+3,Fase de grupos da Copa Sul-Americana de 2024
13,14,Corinthians,44,35,10,14,11,40,44,−4,Fase de grupos da Copa Sul-Americana de 2024
14,15,Santos,43,35,11,10,14,38,56,−18,NaN
15,16,Vasco da Gama,42,35,11,9,15,37,45,−8,NaN
16,17,Bahia,41,35,11,8,16,44,48,−4,Rebaixados à Série B de 2024
17,18,Goiás,35,35,8,11,16,34,50,−16,Rebaixados à Série B de 2024
18,19,Coritiba (R),29,35,8,5,22,40,69,−29,Rebaixados à Série B de 2024
19,20,América Mineiro (R),21,35,4,9,22,39,74,−35,Rebaixados à Série B de 2024

,Casa \ Fora,AMM,ATP,ATM,BAH,BOT,COR,CTB,CRU,CUI,...,FLU,FOR,GOI,GRE,INT,PAL,RBB,SAN,SPA,VAS
0,América Mineiro,—,2–2,1–1,NaN,1–2,2–0,0–3,0–4,1–2,...,0–3,2–1,0–1,3–4,1–2,1–4,0–2,2–0,2–1,0–1
1,Athletico Paranaense,3–2,—,1–1,2–0,1–0,1–0,3–2,3–3,2–0,...,2–2,1–1,2–0,1–2,2–1,2–2,1–1,NaN,1–1,0–0
2,Atlético Mineiro,2–2,2–1,—,1–0,1–0,0–1,1–2,0–1,1–0,...,2–0,3–1,2–1,3–0,2–0,1–1,1–1,2–0,NaN,1–2
3,Bahia,3–1,1–1,NaN,—,1–2,0–0,3–1,2–2,0–3,...,1–0,2–0,1–1,1–2,1–0,1–0,4–0,1–2,NaN,1–1
4,Botafogo,2–0,1–1,2–0,3–0,—,3–0,4–1,NaN,0–1,...,1–0,2–0,1–1,3–4,3–1,3–4,2–0,1–1,2–1,2–0
5,Corinthians,1–1,1–0,1–1,1–5,1–0,—,3–1,2–1,1–1,...,2–0,1–1,1–1,4–4,a,0–0,0–1,1–1,1–1,3–1
6,Coritiba,3–1,2–0,1–2,2–4,NaN,NaN,—,1–0,0–3,...,2–0,0–3,0–1,1–2,0–1,0–2,0–1,0–0,1–1,0–0
7,Cruzeiro,1–1,NaN,0–1,3–0,0–0,1–1,0–0,—,0–1,...,0–2,0–1,0–1,1–0,1–2,a,0–0,2–1,1–0,2–2
8,Cuiabá,2–2,NaN,0–4,1–1,0–1,0–1,1–1,0–0,—,...,3–0,2–1,1–1,1–2,NaN,0–2,1–1,3–0,2–1,0–2
9,Flamengo,1–1,0–3,a,1–0,2–3,1–0,3–0,1–1,NaN,...,1–1,2–0,2–0,3–0,0–0,3–0,1–0,1–2,1–1,1–0
10,Fluminense,3–1,2–0,1–1,2–1,0–2,3–3,2–1,1–0,2–0,...,—,1–0,5–3,a,2–0,2–1,2–1,1–0,1–0,1–1
11,Fortaleza,3–2,1–0,2–1,0–0,2–2,2–1,3–1,0–1,0–1,...,4–2,—,NaN,1–1,1–1,2–2,0–3,4–0,0–0,2–0
12,Goiás,NaN,1–1,0–0,4–6,2–1,3–1,1–2,0–1,0–1,...,2–2,1–0,—,1–1,0–0,0–5,0–2,0–1,2–0,1–1
13,Grêmio,3–1,1–2,1–0,1–0,0–2,0–1,5–1,3–0,2–0,...,2–1,0–0,NaN,—,3–1,1–0,3–3,1–0,2–1,NaN
14,Internacional,1–1,0–2,0–2,2–0,NaN,2–2,3–4,0–0,1–2,...,0–0,0–1,1–0,3–2,—,0–0,1–0,7–1,2–1,2–1
15,Palmeiras,NaN,1–0,0–2,1–0,0–1,2–1,3–1,1–0,2–1,...,a,3–1,1–0,4–1,3–0,—,1–1,1–2,5–0,1–0
16,Red Bull Bragantino,2–2,2–0,1–2,2–1,2–2,1–0,NaN,0–3,2–0,...,1–0,NaN,2–0,2–0,0–0,2–1,—,2–0,0–0,1–1
17,Santos,3–2,1–1,0–0,3–0,2–2,0–2,2–1,0–3,0–0,...,a,NaN,4–3,2–1,1–1,0–0,1–3,—,0–0,4–1
18,São Paulo,3–0,2–1,0–2,0–0,0–0,2–1,2–1,1–0,0–0,...,1–0,1–2,2–1,3–0,2–0,0–2,1–0,4–1,—,4–2
19,Vasco da Gama,2–1,0–2,1–0,0–1,1–0,a,5–1,0–1,1–0,...,4–2,1–0,0–1,1–0,1–2,2–2,NaN,0–1,0–0,—

# Tratamento da Tabela de Jogos

In [41]:
# Criando uma lista com os nomes dos times da [tabela_jogos] que estão na coluna ["Casa \ Fora"]
nomes_times = list(tabela_jogos["Casa \ Fora"])

print(nomes_times)

['América Mineiro', 'Athletico Paranaense', 'Atlético Mineiro', 'Bahia', 'Botafogo', 'Corinthians', 'Coritiba', 'Cruzeiro', 'Cuiabá', 'Flamengo', 'Fluminense', 'Fortaleza', 'Goiás', 'Grêmio', 'Internacional', 'Palmeiras', 'Red Bull Bragantino', 'Santos', 'São Paulo', 'Vasco da Gama']

In [42]:
# Criando uma lista com os apelidos dos times da [tabela_jogos] que estão nas [colunas]
apelidos_times = list(tabela_jogos.columns)

# Excluindo o primeiro item da lista "Casa \ Fora"
apelidos_times.pop(0)

print(apelidos_times)

['AMM', 'ATP', 'ATM', 'BAH', 'BOT', 'COR', 'CTB', 'CRU', 'CUI', 'FLA', 'FLU', 'FOR', 'GOI', 'GRE', 'INT', 'PAL', 'RBB', 'SAN', 'SPA', 'VAS']

In [43]:
# Criando um dicionário "Apelido: nome do time"
de_para_times = dict(zip(apelidos_times, nomes_times))

print(de_para_times)

{'AMM': 'América Mineiro', 'ATP': 'Athletico Paranaense', 'ATM': 'Atlético Mineiro', 'BAH': 'Bahia', 'BOT': 'Botafogo', 'COR': 'Corinthians', 'CTB': 'Coritiba', 'CRU': 'Cruzeiro', 'CUI': 'Cuiabá', 'FLA': 'Flamengo', 'FLU': 'Fluminense', 'FOR': 'Fortaleza', 'GOI': 'Goiás', 'GRE': 'Grêmio', 'INT': 'Internacional', 'PAL': 'Palmeiras', 'RBB': 'Red Bull Bragantino', 'SAN': 'Santos', 'SPA': 'São Paulo', 'VAS': 'Vasco da Gama'}

In [44]:
# Colocando o indice da tabela a coluna "Casa \ Fora"
tabela_jogos_ajustada = tabela_jogos.set_index("Casa \ Fora")

display(tabela_jogos_ajustada)

,AMM,ATP,ATM,BAH,BOT,COR,CTB,CRU,CUI,FLA,FLU,FOR,GOI,GRE,INT,PAL,RBB,SAN,SPA,VAS
Casa \ Fora,,,,,,,,,,,,,,,,,,,,
América Mineiro,—,2–2,1–1,NaN,1–2,2–0,0–3,0–4,1–2,0–3,0–3,2–1,0–1,3–4,1–2,1–4,0–2,2–0,2–1,0–1
Athletico Paranaense,3–2,—,1–1,2–0,1–0,1–0,3–2,3–3,2–0,2–1,2–2,1–1,2–0,1–2,2–1,2–2,1–1,NaN,1–1,0–0
Atlético Mineiro,2–2,2–1,—,1–0,1–0,0–1,1–2,0–1,1–0,1–2,2–0,3–1,2–1,3–0,2–0,1–1,1–1,2–0,NaN,1–2
Bahia,3–1,1–1,NaN,—,1–2,0–0,3–1,2–2,0–3,2–3,1–0,2–0,1–1,1–2,1–0,1–0,4–0,1–2,NaN,1–1
Botafogo,2–0,1–1,2–0,3–0,—,3–0,4–1,NaN,0–1,1–2,1–0,2–0,1–1,3–4,3–1,3–4,2–0,1–1,2–1,2–0
Corinthians,1–1,1–0,1–1,1–5,1–0,—,3–1,2–1,1–1,1–1,2–0,1–1,1–1,4–4,a,0–0,0–1,1–1,1–1,3–1
Coritiba,3–1,2–0,1–2,2–4,NaN,NaN,—,1–0,0–3,2–3,2–0,0–3,0–1,1–2,0–1,0–2,0–1,0–0,1–1,0–0
Cruzeiro,1–1,NaN,0–1,3–0,0–0,1–1,0–0,—,0–1,0–2,0–2,0–1,0–1,1–0,1–2,a,0–0,2–1,1–0,2–2
Cuiabá,2–2,NaN,0–4,1–1,0–1,0–1,1–1,0–0,—,3–0,3–0,2–1,1–1,1–2,NaN,0–2,1–1,3–0,2–1,0–2
Flamengo,1–1,0–3,a,1–0,2–3,1–0,3–0,1–1,NaN,—,1–1,2–0,2–0,3–0,0–0,3–0,1–0,1–2,1–1,1–0
Fluminense,3–1,2–0,1–1,2–1,0–2,3–3,2–1,1–0,2–0,0–0,—,1–0,5–3,a,2–0,2–1,2–1,1–0,1–0,1–1
Fortaleza,3–2,1–0,2–1,0–0,2–2,2–1,3–1,0–1,0–1,0–2,4–2,—,NaN,1–1,1–1,2–2,0–3,4–0,0–0,2–0
Goiás,NaN,1–1,0–0,4–6,2–1,3–1,1–2,0–1,0–1,0–0,2–2,1–0,—,1–1,0–0,0–5,0–2,0–1,2–0,1–1
Grêmio,3–1,1–2,1–0,1–0,0–2,0–1,5–1,3–0,2–0,3–2,2–1,0–0,NaN,—,3–1,1–0,3–3,1–0,2–1,NaN
Internacional,1–1,0–2,0–2,2–0,NaN,2–2,3–4,0–0,1–2,2–1,0–0,0–1,1–0,3–2,—,0–0,1–0,7–1,2–1,2–1
Palmeiras,NaN,1–0,0–2,1–0,0–1,2–1,3–1,1–0,2–1,1–1,a,3–1,1–0,4–1,3–0,—,1–1,1–2,5–0,1–0
Red Bull Bragantino,2–2,2–0,1–2,2–1,2–2,1–0,NaN,0–3,2–0,4–0,1–0,NaN,2–0,2–0,0–0,2–1,—,2–0,0–0,1–1
Santos,3–2,1–1,0–0,3–0,2–2,0–2,2–1,0–3,0–0,2–3,a,NaN,4–3,2–1,1–1,0–0,1–3,—,0–0,4–1
São Paulo,3–0,2–1,0–2,0–0,0–0,2–1,2–1,1–0,0–0,a,1–0,1–2,2–1,3–0,2–0,0–2,1–0,4–1,—,4–2
Vasco da Gama,2–1,0–2,1–0,0–1,1–0,a,5–1,0–1,1–0,1–4,4–2,1–0,0–1,1–0,1–2,2–2,NaN,0–1,0–0,—

In [45]:
# Transformando as colunas da tabela em linhas e ajustando o indice
tabela_jogos_ajustada = tabela_jogos_ajustada.unstack().reset_index()
display(tabela_jogos_ajustada)

    level_0           Casa \ Fora    0
0       AMM       América Mineiro    —
1       AMM  Athletico Paranaense  3–2
2       AMM      Atlético Mineiro  2–2
3       AMM                 Bahia  3–1
4       AMM              Botafogo  2–0
..      ...                   ...  ...
395     VAS             Palmeiras  1–0
396     VAS   Red Bull Bragantino  1–1
397     VAS                Santos  4–1
398     VAS             São Paulo  4–2
399     VAS         Vasco da Gama    —

[400 rows x 3 columns]

In [46]:
# Mudando nomes das colunas
tabela_jogos_ajustada = tabela_jogos_ajustada.rename(columns={"level_0": "Fora"})\
                                             .rename(columns={"Casa \ Fora": "Casa"})\
                                             .rename(columns={0: "Resultado"})
display(tabela_jogos_ajustada)

    Fora                  Casa Resultado
0    AMM       América Mineiro         —
1    AMM  Athletico Paranaense       3–2
2    AMM      Atlético Mineiro       2–2
3    AMM                 Bahia       3–1
4    AMM              Botafogo       2–0
..   ...                   ...       ...
395  VAS             Palmeiras       1–0
396  VAS   Red Bull Bragantino       1–1
397  VAS                Santos       4–1
398  VAS             São Paulo       4–2
399  VAS         Vasco da Gama         —

[400 rows x 3 columns]

In [47]:
# Função para trocar o apelido dos times pelo nome
def ajustar_apelido_time(linha):
    apelido = linha["Fora"]
    nome = de_para_times[apelido]
    return nome

# Aplicando a função em cada linha da [tabela_jogos_ajustada] na coluna "Fora"
tabela_jogos_ajustada["Fora"] = tabela_jogos_ajustada.apply(ajustar_apelido_time, axis=1)

#axis=0 -> coluna
#axis=1 -> linha

display(tabela_jogos_ajustada)

                Fora                  Casa Resultado
0    América Mineiro       América Mineiro         —
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
..               ...                   ...       ...
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2
399    Vasco da Gama         Vasco da Gama         —

[400 rows x 3 columns]

In [48]:
# Filtrando a [tabela_jogos_ajustada] trazendo somente as linhas onde as colunas "Fora" e "Casa" forem diferentes
tabela_jogos_ajustada = tabela_jogos_ajustada[tabela_jogos_ajustada["Fora"] != tabela_jogos_ajustada["Casa"]]

display(tabela_jogos_ajustada)

                Fora                  Casa Resultado
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
5    América Mineiro           Corinthians       1–1
..               ...                   ...       ...
394    Vasco da Gama         Internacional       2–1
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2

[380 rows x 3 columns]

In [49]:
# Trocando os valores nulos por "Não aconteceu", pois são jogos que ainda vão ser disputados
tabela_jogos_ajustada["Resultado"] = tabela_jogos_ajustada["Resultado"].fillna("Não aconteceu")

# Criando uma tabela de jogos realizados. Filtrando as linhas da coluna "Resultado" que contenham o "–"
tabela_jogos_realizados = tabela_jogos_ajustada[tabela_jogos_ajustada["Resultado"].str.contains("–")]

# Criando uma tabela de jogos realizados. Filtrando as linhas da coluna "Resultado" que NÃO contenham o "–"
tabela_jogos_faltantes = tabela_jogos_ajustada[~tabela_jogos_ajustada["Resultado"].str.contains("–")]

# Trocando os valores "a" por "Não aconteceu"
tabela_jogos_faltantes.loc[tabela_jogos_faltantes["Resultado"] == "a", "Resultado"] = "Não aconteceu"

tabela_jogos_faltantes = tabela_jogos_faltantes.drop(columns=["Resultado"])

display(tabela_jogos_realizados)

display(tabela_jogos_faltantes)

                Fora                  Casa Resultado
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
5    América Mineiro           Corinthians       1–1
..               ...                   ...       ...
394    Vasco da Gama         Internacional       2–1
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2

[350 rows x 3 columns]

                     Fora                  Casa
12        América Mineiro                 Goiás
15        América Mineiro             Palmeiras
27   Athletico Paranaense              Cruzeiro
28   Athletico Paranaense                Cuiabá
43       Atlético Mineiro                 Bahia
49       Atlético Mineiro              Flamengo
60                  Bahia       América Mineiro
86               Botafogo              Coritiba
94               Botafogo         Internacional
106           Corinthians              Coritiba
119           Corinthians         Vasco da Gama
136              Coritiba   Red Bull Bragantino
144              Cruzeiro              Botafogo
169                Cuiabá              Flamengo
198              Flamengo             São Paulo
215            Fluminense             Palmeiras
217            Fluminense                Santos
236             Fortaleza   Red Bull Bragantino
237             Fortaleza                Santos
251                 Goiás             Fortaleza
253                 Goiás                Grêmio
270                Grêmio            Fluminense
285         Internacional           Corinthians
288         Internacional                Cuiabá
307             Palmeiras              Cruzeiro
339   Red Bull Bragantino         Vasco da Gama
341                Santos  Athletico Paranaense
362             São Paulo      Atlético Mineiro
363             São Paulo                 Bahia
393         Vasco da Gama                Grêmio

In [50]:
# Criando 2 colunas "Gols_Casa" e "Gols_Fora" a partir da coluna "Resultado" separada pelo "–"
tabela_jogos_realizados[["Gols_Casa", "Gols_Fora"]] = tabela_jogos_realizados["Resultado"].str.split("–", expand=True)

# Dropando a coluna "Resultado"
tabela_jogos_realizados = tabela_jogos_realizados.drop(columns=["Resultado"])

display(tabela_jogos_realizados)

C:\Users\gabri\AppData\Local\Temp\ipykernel_9092\1392583806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_jogos_realizados[["Gols_Casa", "Gols_Fora"]] = tabela_jogos_realizados["Resultado"].str.split("–", expand=True)
C:\Users\gabri\AppData\Local\Temp\ipykernel_9092\1392583806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_jogos_realizados[["Gols_Casa", "Gols_Fora"]] = tabela_jogos_realizados["Resultado"].str.split("–", expand=True)

                Fora                  Casa Gols_Casa Gols_Fora
1    América Mineiro  Athletico Paranaense         3         2
2    América Mineiro      Atlético Mineiro         2         2
3    América Mineiro                 Bahia         3         1
4    América Mineiro              Botafogo         2         0
5    América Mineiro           Corinthians         1         1
..               ...                   ...       ...       ...
394    Vasco da Gama         Internacional         2         1
395    Vasco da Gama             Palmeiras         1         0
396    Vasco da Gama   Red Bull Bragantino         1         1
397    Vasco da Gama                Santos         4         1
398    Vasco da Gama             São Paulo         4         2

[350 rows x 4 columns]

In [51]:
# Transformando as colunas "Gols_Fora" e "Gols_Casa" em int
tabela_jogos_realizados["Gols_Fora"] = tabela_jogos_realizados["Gols_Fora"].astype(int)
tabela_jogos_realizados["Gols_Casa"] = tabela_jogos_realizados["Gols_Casa"].astype(int)

# Criando a tabela com a média de gols marcados e gols sofridos dentro de casa
media_gols_casa = tabela_jogos_realizados.groupby("Casa").mean(numeric_only=True)
media_gols_casa = media_gols_casa.rename(columns={"Gols_Casa": "Gols_Marcados_Casa", "Gols_Fora": "Gols_Sofridos_Casa"})

# Criando a tabela com a média de gols marcados e gols sofridos fora de casa
media_gols_fora = tabela_jogos_realizados.groupby("Fora").mean(numeric_only=True)
media_gols_fora = media_gols_fora.rename(columns={"Gols_Casa": "Gols_Sofridos_Fora", "Gols_Fora": "Gols_Marcados_Fora"})

display(media_gols_casa)
display(media_gols_fora)

                      Gols_Marcados_Casa  Gols_Sofridos_Casa
Casa
América Mineiro                 1.000000            2.000000
Athletico Paranaense            1.666667            1.055556
Atlético Mineiro                1.444444            0.833333
Bahia                           1.470588            1.117647
Botafogo                        2.000000            0.944444
Corinthians                     1.388889            1.166667
Coritiba                        0.882353            1.411765
Cruzeiro                        0.705882            0.882353
Cuiabá                          1.176471            1.176471
Flamengo                        1.411765            0.705882
Fluminense                      1.722222            0.833333
Fortaleza                       1.500000            1.111111
Goiás                           1.000000            1.388889
Grêmio                          1.823529            0.882353
Internacional                   1.500000            1.111111
Palmeiras                       1.764706            0.705882
Red Bull Bragantino             1.529412            0.705882
Santos                          1.470588            1.352941
São Paulo                       1.555556            0.722222
Vasco da Gama                   1.176471            1.058824

                      Gols_Sofridos_Fora  Gols_Marcados_Fora
Fora
América Mineiro                 2.235294            1.235294
Athletico Paranaense            1.176471            1.000000
Atlético Mineiro                0.705882            1.176471
Bahia                           1.611111            1.055556
Botafogo                        0.941176            1.176471
Corinthians                     1.352941            0.882353
Coritiba                        2.444444            1.333333
Cruzeiro                        0.833333            1.166667
Cuiabá                          0.833333            0.888889
Flamengo                        1.388889            1.666667
Fluminense                      1.647059            0.882353
Fortaleza                       1.294118            0.764706
Goiás                           1.470588            0.941176
Grêmio                          2.111111            1.444444
Internacional                   1.352941            0.705882
Palmeiras                       1.111111            1.555556
Red Bull Bragantino             1.055556            1.111111
Santos                          1.833333            0.722222
São Paulo                       1.352941            0.529412
Vasco da Gama                   1.444444            0.888889

In [52]:
# Juntando as tabelas [media_gols_casa] e [media_gols_fora], passando como paramêtro que o indice das tabelas são iguais
tabela_estatisticas = media_gols_casa.merge(media_gols_fora, left_index=True, right_index=True)

# Mudando ordem das colunas
tabela_estatisticas = tabela_estatisticas[["Gols_Marcados_Casa", "Gols_Sofridos_Casa", "Gols_Marcados_Fora", "Gols_Sofridos_Fora"]]

display(tabela_estatisticas)

,Gols_Marcados_Casa,Gols_Sofridos_Casa,Gols_Marcados_Fora,Gols_Sofridos_Fora
Casa,,,,
América Mineiro,1.000000,2.000000,1.235294,2.235294
Athletico Paranaense,1.666667,1.055556,1.000000,1.176471
Atlético Mineiro,1.444444,0.833333,1.176471,0.705882
Bahia,1.470588,1.117647,1.055556,1.611111
Botafogo,2.000000,0.944444,1.176471,0.941176
Corinthians,1.388889,1.166667,0.882353,1.352941
Coritiba,0.882353,1.411765,1.333333,2.444444
Cruzeiro,0.705882,0.882353,1.166667,0.833333
Cuiabá,1.176471,1.176471,0.888889,0.833333
Flamengo,1.411765,0.705882,1.666667,1.388889
Fluminense,1.722222,0.833333,0.882353,1.647059
Fortaleza,1.500000,1.111111,0.764706,1.294118
Goiás,1.000000,1.388889,0.941176,1.470588
Grêmio,1.823529,0.882353,1.444444,2.111111
Internacional,1.500000,1.111111,0.705882,1.352941
Palmeiras,1.764706,0.705882,1.555556,1.111111
Red Bull Bragantino,1.529412,0.705882,1.111111,1.055556
Santos,1.470588,1.352941,0.722222,1.833333
São Paulo,1.555556,0.722222,0.529412,1.352941
Vasco da Gama,1.176471,1.058824,0.888889,1.444444

In [53]:
# Transformando o indice (Casa) em uma coluna da tabela
tabela_estatisticas = tabela_estatisticas.reset_index()

# Renomeando a coluna Casa para Times
tabela_estatisticas = tabela_estatisticas.rename(columns={"Casa":"Times"})

display(tabela_estatisticas)

,Times,Gols_Marcados_Casa,Gols_Sofridos_Casa,Gols_Marcados_Fora,Gols_Sofridos_Fora
0,América Mineiro,1.000000,2.000000,1.235294,2.235294
1,Athletico Paranaense,1.666667,1.055556,1.000000,1.176471
2,Atlético Mineiro,1.444444,0.833333,1.176471,0.705882
3,Bahia,1.470588,1.117647,1.055556,1.611111
4,Botafogo,2.000000,0.944444,1.176471,0.941176
5,Corinthians,1.388889,1.166667,0.882353,1.352941
6,Coritiba,0.882353,1.411765,1.333333,2.444444
7,Cruzeiro,0.705882,0.882353,1.166667,0.833333
8,Cuiabá,1.176471,1.176471,0.888889,0.833333
9,Flamengo,1.411765,0.705882,1.666667,1.388889
10,Fluminense,1.722222,0.833333,0.882353,1.647059
11,Fortaleza,1.500000,1.111111,0.764706,1.294118
12,Goiás,1.000000,1.388889,0.941176,1.470588
13,Grêmio,1.823529,0.882353,1.444444,2.111111
14,Internacional,1.500000,1.111111,0.705882,1.352941
15,Palmeiras,1.764706,0.705882,1.555556,1.111111
16,Red Bull Bragantino,1.529412,0.705882,1.111111,1.055556
17,Santos,1.470588,1.352941,0.722222,1.833333
18,São Paulo,1.555556,0.722222,0.529412,1.352941
19,Vasco da Gama,1.176471,1.058824,0.888889,1.444444

# Probabilidade

In [ ]:
# Como a a partir das medias calcular a probabilidade do time ganhar/perder/empatar
time_casa = "Cruzeiro"
time_fora = "Vasco"


# [Média de gols que o Cruzeiro faz dentro de casa] * [Média de gols que o Vasco sofre dentro de casa]

#                           loc = localizar[          linha           ]==condição, "Coluna"                       
lambda_gols_casa = (tabela_estatisticas.loc[tabela_estatisticas["Times"]==time_casa, "Gols_Marcados_Casa"].iloc[0]    # Vai na coluna de "Times" onde a linha for igual a "Cruzeiro" e pega o valor da coluna "Gols_Marcados_Casa"
                                                                                                                     #                                                   * -> multiplicando
                   * tabela_estatisticas.loc[tabela_estatisticas["Times"]==time_fora, "Gols_Sofridos_Fora"].iloc[0])  # Vai na coluna de "Times" onde a linha for igual a "Vasco" e pega o valor da coluna "Gols_Sofridos_Fora"

# [Média de gols que o Cruzeiro faz dentro de casa] * [Média de gols que o Vasco sofre dentro de casa]
lambda_gols_fora = (tabela_estatisticas.loc[tabela_estatisticas["Times"]==time_fora, "Gols_Marcados_Fora"].iloc[0]   # Vai na coluna de "Times" onde a linha for igual a "Vasco" e pega o valor da coluna "Gols_Marcados_Fora"
                                                                                                                     #                                                   * -> multiplicando
                   * tabela_estatisticas.loc[tabela_estatisticas["Times"]==time_casa, "Gols_Sofridos_Casa"].iloc[0]) # Vai na coluna de "Times" onde a linha for igual a "Cruzeiro" e pega o valor da coluna "Gols_Sofridos_Casa"

In [ ]:
# 1:20:57 -> parei no video

# Valor Esperado

In [ ]:
# Jogo -> Vasco x Cruzeiro

# 50% Vitória Vasco
# 10% Empate
# 40% Vitória Cruzeiro

# Pontuação Vasco = 50% * 3 + 10% * 1 = 1,6 pontos

# Pontuação Cruzeiro = 40% * 3 + 10% * 1 = 1,3 pontos