# Medidas Principais

- qtd_media_gols_dentro_casa
- qtd_media_gols_fora_casa
- qtd_media_gols_sofridos_casa
- qtd_media_gols_sofridos_fora

# Imports

In [161]:
import pandas as pd
import requests
from scipy.stats import poisson

# Requisição das tabela

In [162]:
# Pegando a url da wikipedia, onde tem várias tabelas com diversas informações sobre o brasileirão 2023
url = "https://pt.wikipedia.org/wiki/Campeonato_Brasileiro_de_Futebol_de_2023_-_S%C3%A9rie_A"

# Retorna o html do site completo
requisicao = requests.get(url)

# Retorna todas as tabelas desse html
tabelas = pd.read_html(requisicao.text)

# Escolhendo só a tabela de classificação e jogos
tabela_classificacao = tabelas[6]
tabela_jogos = tabelas[7]

display(tabela_classificacao)
display(tabela_jogos)

C:\Users\gabri\AppData\Local\Temp\ipykernel_17252\497006418.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tabelas = pd.read_html(requisicao.text)

,Pos,Equipevde,Pts,J,V,E,D,GP,GC,SG,Classificação ou descenso
0,1,Palmeiras (T),66,36,19,9,8,62,32,+30,Fase de grupos da Copa Libertadores de 2024
1,2,Botafogo (T),63,36,18,9,9,57,34,+23,Fase de grupos da Copa Libertadores de 2024
2,3,Atlético Mineiro (T),63,36,18,9,9,49,27,+22,Fase de grupos da Copa Libertadores de 2024
3,4,Flamengo (T),63,36,18,9,9,54,43,+11,Fase de grupos da Copa Libertadores de 2024
4,5,Grêmio (X),59,35,18,5,12,57,53,+4,Segunda fase da Copa Libertadores de 2024
5,6,Red Bull Bragantino (X),59,35,16,11,8,46,31,+15,Segunda fase da Copa Libertadores de 2024
6,7,Fluminense (Q),56,36,16,8,12,49,43,+6,Fase de grupos da Copa Libertadores de 2024[a]
7,8,Athletico Paranaense (X),52,35,13,13,9,47,39,+8,Fase de grupos da Copa Sul-Americana de 2024
8,9,São Paulo (Q),50,36,13,11,12,38,36,+2,Fase de grupos da Copa Libertadores de 2024[b]
9,10,Internacional,49,36,13,10,13,41,43,−2,Fase de grupos da Copa Sul-Americana de 2024
10,11,Cuiabá,48,36,13,9,14,36,37,−1,Fase de grupos da Copa Sul-Americana de 2024
11,12,Corinthians,47,36,11,14,11,44,46,−2,Fase de grupos da Copa Sul-Americana de 2024
12,13,Fortaleza,45,35,12,9,14,40,42,−2,Fase de grupos da Copa Sul-Americana de 2024
13,14,Cruzeiro,44,35,11,11,13,33,30,+3,Fase de grupos da Copa Sul-Americana de 2024
14,15,Santos,43,36,11,10,15,38,59,−21,NaN
15,16,Vasco da Gama,42,36,11,9,16,39,49,−10,NaN
16,17,Bahia,41,36,11,8,17,44,49,−5,Rebaixados à Série B de 2024
17,18,Goiás,35,35,8,11,16,34,50,−16,Rebaixados à Série B de 2024
18,19,Coritiba (R),30,36,8,6,22,41,70,−29,Rebaixados à Série B de 2024
19,20,América Mineiro (R),21,36,4,9,23,39,78,−39,Rebaixados à Série B de 2024

,Casa \ Fora,AMM,ATP,ATM,BAH,BOT,COR,CTB,CRU,CUI,...,FLU,FOR,GOI,GRE,INT,PAL,RBB,SAN,SPA,VAS
0,América Mineiro,—,2–2,1–1,NaN,1–2,2–0,0–3,0–4,1–2,...,0–3,2–1,0–1,3–4,1–2,1–4,0–2,2–0,2–1,0–1
1,Athletico Paranaense,3–2,—,1–1,2–0,1–0,1–0,3–2,3–3,2–0,...,2–2,1–1,2–0,1–2,2–1,2–2,1–1,NaN,1–1,0–0
2,Atlético Mineiro,2–2,2–1,—,1–0,1–0,0–1,1–2,0–1,1–0,...,2–0,3–1,2–1,3–0,2–0,1–1,1–1,2–0,NaN,1–2
3,Bahia,3–1,1–1,NaN,—,1–2,0–0,3–1,2–2,0–3,...,1–0,2–0,1–1,1–2,1–0,1–0,4–0,1–2,0–1,1–1
4,Botafogo,2–0,1–1,2–0,3–0,—,3–0,4–1,NaN,0–1,...,1–0,2–0,1–1,3–4,3–1,3–4,2–0,1–1,2–1,2–0
5,Corinthians,1–1,1–0,1–1,1–5,1–0,—,3–1,2–1,1–1,...,2–0,1–1,1–1,4–4,a,0–0,0–1,1–1,1–1,3–1
6,Coritiba,3–1,2–0,1–2,2–4,1–1,NaN,—,1–0,0–3,...,2–0,0–3,0–1,1–2,0–1,0–2,0–1,0–0,1–1,0–0
7,Cruzeiro,1–1,NaN,0–1,3–0,0–0,1–1,0–0,—,0–1,...,0–2,0–1,0–1,1–0,1–2,a,0–0,2–1,1–0,2–2
8,Cuiabá,2–2,NaN,0–4,1–1,0–1,0–1,1–1,0–0,—,...,3–0,2–1,1–1,1–2,0–2,0–2,1–1,3–0,2–1,0–2
9,Flamengo,1–1,0–3,0–3,1–0,2–3,1–0,3–0,1–1,NaN,...,1–1,2–0,2–0,3–0,0–0,3–0,1–0,1–2,1–1,1–0
10,Fluminense,3–1,2–0,1–1,2–1,0–2,3–3,2–1,1–0,2–0,...,—,1–0,5–3,a,2–0,2–1,2–1,1–0,1–0,1–1
11,Fortaleza,3–2,1–0,2–1,0–0,2–2,2–1,3–1,0–1,0–1,...,4–2,—,NaN,1–1,1–1,2–2,0–3,4–0,0–0,2–0
12,Goiás,NaN,1–1,0–0,4–6,2–1,3–1,1–2,0–1,0–1,...,2–2,1–0,—,1–1,0–0,0–5,0–2,0–1,2–0,1–1
13,Grêmio,3–1,1–2,1–0,1–0,0–2,0–1,5–1,3–0,2–0,...,2–1,0–0,NaN,—,3–1,1–0,3–3,1–0,2–1,NaN
14,Internacional,1–1,0–2,0–2,2–0,NaN,2–2,3–4,0–0,1–2,...,0–0,0–1,1–0,3–2,—,0–0,1–0,7–1,2–1,2–1
15,Palmeiras,4–0,1–0,0–2,1–0,0–1,2–1,3–1,1–0,2–1,...,a,3–1,1–0,4–1,3–0,—,1–1,1–2,5–0,1–0
16,Red Bull Bragantino,2–2,2–0,1–2,2–1,2–2,1–0,NaN,0–3,2–0,...,1–0,NaN,2–0,2–0,0–0,2–1,—,2–0,0–0,1–1
17,Santos,3–2,1–1,0–0,3–0,2–2,0–2,2–1,0–3,0–0,...,0–3,NaN,4–3,2–1,1–1,0–0,1–3,—,0–0,4–1
18,São Paulo,3–0,2–1,0–2,0–0,0–0,2–1,2–1,1–0,0–0,...,1–0,1–2,2–1,3–0,2–0,0–2,1–0,4–1,—,4–2
19,Vasco da Gama,2–1,0–2,1–0,0–1,1–0,2–4,5–1,0–1,1–0,...,4–2,1–0,0–1,1–0,1–2,2–2,NaN,0–1,0–0,—

# Tratamento da Tabela de Jogos

In [163]:
# Criando uma lista com os nomes dos times da [tabela_jogos] que estão na coluna ["Casa \ Fora"]
nomes_times = list(tabela_jogos["Casa \ Fora"])

print(nomes_times)

['América Mineiro', 'Athletico Paranaense', 'Atlético Mineiro', 'Bahia', 'Botafogo', 'Corinthians', 'Coritiba', 'Cruzeiro', 'Cuiabá', 'Flamengo', 'Fluminense', 'Fortaleza', 'Goiás', 'Grêmio', 'Internacional', 'Palmeiras', 'Red Bull Bragantino', 'Santos', 'São Paulo', 'Vasco da Gama']

In [164]:
# Criando uma lista com os apelidos dos times da [tabela_jogos] que estão nas [colunas]
apelidos_times = list(tabela_jogos.columns)

# Excluindo o primeiro item da lista "Casa \ Fora"
apelidos_times.pop(0)

print(apelidos_times)

['AMM', 'ATP', 'ATM', 'BAH', 'BOT', 'COR', 'CTB', 'CRU', 'CUI', 'FLA', 'FLU', 'FOR', 'GOI', 'GRE', 'INT', 'PAL', 'RBB', 'SAN', 'SPA', 'VAS']

In [165]:
# Criando um dicionário "Apelido: nome do time"
de_para_times = dict(zip(apelidos_times, nomes_times))

print(de_para_times)

{'AMM': 'América Mineiro', 'ATP': 'Athletico Paranaense', 'ATM': 'Atlético Mineiro', 'BAH': 'Bahia', 'BOT': 'Botafogo', 'COR': 'Corinthians', 'CTB': 'Coritiba', 'CRU': 'Cruzeiro', 'CUI': 'Cuiabá', 'FLA': 'Flamengo', 'FLU': 'Fluminense', 'FOR': 'Fortaleza', 'GOI': 'Goiás', 'GRE': 'Grêmio', 'INT': 'Internacional', 'PAL': 'Palmeiras', 'RBB': 'Red Bull Bragantino', 'SAN': 'Santos', 'SPA': 'São Paulo', 'VAS': 'Vasco da Gama'}

In [166]:
# Colocando o indice da tabela a coluna "Casa \ Fora"
tabela_jogos_ajustada = tabela_jogos.set_index("Casa \ Fora")

display(tabela_jogos_ajustada)

,AMM,ATP,ATM,BAH,BOT,COR,CTB,CRU,CUI,FLA,FLU,FOR,GOI,GRE,INT,PAL,RBB,SAN,SPA,VAS
Casa \ Fora,,,,,,,,,,,,,,,,,,,,
América Mineiro,—,2–2,1–1,NaN,1–2,2–0,0–3,0–4,1–2,0–3,0–3,2–1,0–1,3–4,1–2,1–4,0–2,2–0,2–1,0–1
Athletico Paranaense,3–2,—,1–1,2–0,1–0,1–0,3–2,3–3,2–0,2–1,2–2,1–1,2–0,1–2,2–1,2–2,1–1,NaN,1–1,0–0
Atlético Mineiro,2–2,2–1,—,1–0,1–0,0–1,1–2,0–1,1–0,1–2,2–0,3–1,2–1,3–0,2–0,1–1,1–1,2–0,NaN,1–2
Bahia,3–1,1–1,NaN,—,1–2,0–0,3–1,2–2,0–3,2–3,1–0,2–0,1–1,1–2,1–0,1–0,4–0,1–2,0–1,1–1
Botafogo,2–0,1–1,2–0,3–0,—,3–0,4–1,NaN,0–1,1–2,1–0,2–0,1–1,3–4,3–1,3–4,2–0,1–1,2–1,2–0
Corinthians,1–1,1–0,1–1,1–5,1–0,—,3–1,2–1,1–1,1–1,2–0,1–1,1–1,4–4,a,0–0,0–1,1–1,1–1,3–1
Coritiba,3–1,2–0,1–2,2–4,1–1,NaN,—,1–0,0–3,2–3,2–0,0–3,0–1,1–2,0–1,0–2,0–1,0–0,1–1,0–0
Cruzeiro,1–1,NaN,0–1,3–0,0–0,1–1,0–0,—,0–1,0–2,0–2,0–1,0–1,1–0,1–2,a,0–0,2–1,1–0,2–2
Cuiabá,2–2,NaN,0–4,1–1,0–1,0–1,1–1,0–0,—,3–0,3–0,2–1,1–1,1–2,0–2,0–2,1–1,3–0,2–1,0–2
Flamengo,1–1,0–3,0–3,1–0,2–3,1–0,3–0,1–1,NaN,—,1–1,2–0,2–0,3–0,0–0,3–0,1–0,1–2,1–1,1–0
Fluminense,3–1,2–0,1–1,2–1,0–2,3–3,2–1,1–0,2–0,0–0,—,1–0,5–3,a,2–0,2–1,2–1,1–0,1–0,1–1
Fortaleza,3–2,1–0,2–1,0–0,2–2,2–1,3–1,0–1,0–1,0–2,4–2,—,NaN,1–1,1–1,2–2,0–3,4–0,0–0,2–0
Goiás,NaN,1–1,0–0,4–6,2–1,3–1,1–2,0–1,0–1,0–0,2–2,1–0,—,1–1,0–0,0–5,0–2,0–1,2–0,1–1
Grêmio,3–1,1–2,1–0,1–0,0–2,0–1,5–1,3–0,2–0,3–2,2–1,0–0,NaN,—,3–1,1–0,3–3,1–0,2–1,NaN
Internacional,1–1,0–2,0–2,2–0,NaN,2–2,3–4,0–0,1–2,2–1,0–0,0–1,1–0,3–2,—,0–0,1–0,7–1,2–1,2–1
Palmeiras,4–0,1–0,0–2,1–0,0–1,2–1,3–1,1–0,2–1,1–1,a,3–1,1–0,4–1,3–0,—,1–1,1–2,5–0,1–0
Red Bull Bragantino,2–2,2–0,1–2,2–1,2–2,1–0,NaN,0–3,2–0,4–0,1–0,NaN,2–0,2–0,0–0,2–1,—,2–0,0–0,1–1
Santos,3–2,1–1,0–0,3–0,2–2,0–2,2–1,0–3,0–0,2–3,0–3,NaN,4–3,2–1,1–1,0–0,1–3,—,0–0,4–1
São Paulo,3–0,2–1,0–2,0–0,0–0,2–1,2–1,1–0,0–0,a,1–0,1–2,2–1,3–0,2–0,0–2,1–0,4–1,—,4–2
Vasco da Gama,2–1,0–2,1–0,0–1,1–0,2–4,5–1,0–1,1–0,1–4,4–2,1–0,0–1,1–0,1–2,2–2,NaN,0–1,0–0,—

In [167]:
# Transformando as colunas da tabela em linhas e ajustando o indice
tabela_jogos_ajustada = tabela_jogos_ajustada.unstack().reset_index()
display(tabela_jogos_ajustada)

    level_0           Casa \ Fora    0
0       AMM       América Mineiro    —
1       AMM  Athletico Paranaense  3–2
2       AMM      Atlético Mineiro  2–2
3       AMM                 Bahia  3–1
4       AMM              Botafogo  2–0
..      ...                   ...  ...
395     VAS             Palmeiras  1–0
396     VAS   Red Bull Bragantino  1–1
397     VAS                Santos  4–1
398     VAS             São Paulo  4–2
399     VAS         Vasco da Gama    —

[400 rows x 3 columns]

In [168]:
# Mudando nomes das colunas
tabela_jogos_ajustada = tabela_jogos_ajustada.rename(columns={"level_0": "Fora"})\
                                             .rename(columns={"Casa \ Fora": "Casa"})\
                                             .rename(columns={0: "Resultado"})
display(tabela_jogos_ajustada)

    Fora                  Casa Resultado
0    AMM       América Mineiro         —
1    AMM  Athletico Paranaense       3–2
2    AMM      Atlético Mineiro       2–2
3    AMM                 Bahia       3–1
4    AMM              Botafogo       2–0
..   ...                   ...       ...
395  VAS             Palmeiras       1–0
396  VAS   Red Bull Bragantino       1–1
397  VAS                Santos       4–1
398  VAS             São Paulo       4–2
399  VAS         Vasco da Gama         —

[400 rows x 3 columns]

In [169]:
# Função para trocar o apelido dos times pelo nome
def ajustar_apelido_time(linha):
    apelido = linha["Fora"]
    nome = de_para_times[apelido]
    return nome

# Aplicando a função em cada linha da [tabela_jogos_ajustada] na coluna "Fora"
tabela_jogos_ajustada["Fora"] = tabela_jogos_ajustada.apply(ajustar_apelido_time, axis=1)

#axis=0 -> coluna
#axis=1 -> linha

display(tabela_jogos_ajustada)

                Fora                  Casa Resultado
0    América Mineiro       América Mineiro         —
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
..               ...                   ...       ...
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2
399    Vasco da Gama         Vasco da Gama         —

[400 rows x 3 columns]

In [170]:
# Filtrando a [tabela_jogos_ajustada] trazendo somente as linhas onde as colunas "Fora" e "Casa" forem diferentes
tabela_jogos_ajustada = tabela_jogos_ajustada[tabela_jogos_ajustada["Fora"] != tabela_jogos_ajustada["Casa"]]

display(tabela_jogos_ajustada)

                Fora                  Casa Resultado
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
5    América Mineiro           Corinthians       1–1
..               ...                   ...       ...
394    Vasco da Gama         Internacional       2–1
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2

[380 rows x 3 columns]

In [171]:
# Trocando os valores nulos por "Não aconteceu", pois são jogos que ainda vão ser disputados
tabela_jogos_ajustada["Resultado"] = tabela_jogos_ajustada["Resultado"].fillna("Não aconteceu")

# Criando uma tabela de jogos realizados. Filtrando as linhas da coluna "Resultado" que contenham o "–"
tabela_jogos_realizados = tabela_jogos_ajustada[tabela_jogos_ajustada["Resultado"].str.contains("–")]

# Criando uma tabela de jogos realizados. Filtrando as linhas da coluna "Resultado" que NÃO contenham o "–"
tabela_jogos_faltantes = tabela_jogos_ajustada[~tabela_jogos_ajustada["Resultado"].str.contains("–")]

# Trocando os valores "a" por "Não aconteceu"
tabela_jogos_faltantes.loc[tabela_jogos_faltantes["Resultado"] == "a", "Resultado"] = "Não aconteceu"

tabela_jogos_faltantes = tabela_jogos_faltantes.drop(columns=["Resultado"])

display(tabela_jogos_realizados)

tabela_jogos_faltantes = tabela_jogos_faltantes[["Casa","Fora"]]

display(tabela_jogos_faltantes)

                Fora                  Casa Resultado
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
5    América Mineiro           Corinthians       1–1
..               ...                   ...       ...
394    Vasco da Gama         Internacional       2–1
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2

[357 rows x 3 columns]

                     Casa                  Fora
12                  Goiás       América Mineiro
27               Cruzeiro  Athletico Paranaense
28                 Cuiabá  Athletico Paranaense
43                  Bahia      Atlético Mineiro
60        América Mineiro                 Bahia
94          Internacional              Botafogo
106              Coritiba           Corinthians
136   Red Bull Bragantino              Coritiba
144              Botafogo              Cruzeiro
169              Flamengo                Cuiabá
198             São Paulo              Flamengo
215             Palmeiras            Fluminense
236   Red Bull Bragantino             Fortaleza
237                Santos             Fortaleza
251             Fortaleza                 Goiás
253                Grêmio                 Goiás
270            Fluminense                Grêmio
285           Corinthians         Internacional
307              Cruzeiro             Palmeiras
339         Vasco da Gama   Red Bull Bragantino
341  Athletico Paranaense                Santos
362      Atlético Mineiro             São Paulo
393                Grêmio         Vasco da Gama

In [172]:
# Criando 2 colunas "Gols_Casa" e "Gols_Fora" a partir da coluna "Resultado" separada pelo "–"
tabela_jogos_realizados[["Gols_Casa", "Gols_Fora"]] = tabela_jogos_realizados["Resultado"].str.split("–", expand=True)

# Dropando a coluna "Resultado"
tabela_jogos_realizados = tabela_jogos_realizados.drop(columns=["Resultado"])

display(tabela_jogos_realizados)

C:\Users\gabri\AppData\Local\Temp\ipykernel_17252\1392583806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_jogos_realizados[["Gols_Casa", "Gols_Fora"]] = tabela_jogos_realizados["Resultado"].str.split("–", expand=True)
C:\Users\gabri\AppData\Local\Temp\ipykernel_17252\1392583806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_jogos_realizados[["Gols_Casa", "Gols_Fora"]] = tabela_jogos_realizados["Resultado"].str.split("–", expand=True)

                Fora                  Casa Gols_Casa Gols_Fora
1    América Mineiro  Athletico Paranaense         3         2
2    América Mineiro      Atlético Mineiro         2         2
3    América Mineiro                 Bahia         3         1
4    América Mineiro              Botafogo         2         0
5    América Mineiro           Corinthians         1         1
..               ...                   ...       ...       ...
394    Vasco da Gama         Internacional         2         1
395    Vasco da Gama             Palmeiras         1         0
396    Vasco da Gama   Red Bull Bragantino         1         1
397    Vasco da Gama                Santos         4         1
398    Vasco da Gama             São Paulo         4         2

[357 rows x 4 columns]

In [173]:
# Transformando as colunas "Gols_Fora" e "Gols_Casa" em int
tabela_jogos_realizados["Gols_Fora"] = tabela_jogos_realizados["Gols_Fora"].astype(int)
tabela_jogos_realizados["Gols_Casa"] = tabela_jogos_realizados["Gols_Casa"].astype(int)

# Criando a tabela com a média de gols marcados e gols sofridos dentro de casa
media_gols_casa = tabela_jogos_realizados.groupby("Casa").mean(numeric_only=True)
media_gols_casa = media_gols_casa.rename(columns={"Gols_Casa": "Gols_Marcados_Casa", "Gols_Fora": "Gols_Sofridos_Casa"})

# Criando a tabela com a média de gols marcados e gols sofridos fora de casa
media_gols_fora = tabela_jogos_realizados.groupby("Fora").mean(numeric_only=True)
media_gols_fora = media_gols_fora.rename(columns={"Gols_Casa": "Gols_Sofridos_Fora", "Gols_Fora": "Gols_Marcados_Fora"})

display(media_gols_casa)
display(media_gols_fora)

                      Gols_Marcados_Casa  Gols_Sofridos_Casa
Casa
América Mineiro                 1.000000            2.000000
Athletico Paranaense            1.666667            1.055556
Atlético Mineiro                1.444444            0.833333
Bahia                           1.388889            1.111111
Botafogo                        2.000000            0.944444
Corinthians                     1.388889            1.166667
Coritiba                        0.888889            1.388889
Cruzeiro                        0.705882            0.882353
Cuiabá                          1.111111            1.222222
Flamengo                        1.333333            0.833333
Fluminense                      1.722222            0.833333
Fortaleza                       1.500000            1.111111
Goiás                           1.000000            1.388889
Grêmio                          1.823529            0.882353
Internacional                   1.500000            1.111111
Palmeiras                       1.888889            0.666667
Red Bull Bragantino             1.529412            0.705882
Santos                          1.388889            1.444444
São Paulo                       1.555556            0.722222
Vasco da Gama                   1.222222            1.222222

                      Gols_Sofridos_Fora  Gols_Marcados_Fora
Fora
América Mineiro                 2.333333            1.166667
Athletico Paranaense            1.176471            1.000000
Atlético Mineiro                0.666667            1.277778
Bahia                           1.611111            1.055556
Botafogo                        0.944444            1.166667
Corinthians                     1.388889            1.055556
Coritiba                        2.444444            1.333333
Cruzeiro                        0.833333            1.166667
Cuiabá                          0.833333            0.888889
Flamengo                        1.388889            1.666667
Fluminense                      1.555556            1.000000
Fortaleza                       1.294118            0.764706
Goiás                           1.470588            0.941176
Grêmio                          2.111111            1.444444
Internacional                   1.277778            0.777778
Palmeiras                       1.111111            1.555556
Red Bull Bragantino             1.055556            1.111111
Santos                          1.833333            0.722222
São Paulo                       1.277778            0.555556
Vasco da Gama                   1.444444            0.888889

In [174]:
# Juntando as tabelas [media_gols_casa] e [media_gols_fora], passando como paramêtro que o indice das tabelas são iguais
tabela_estatisticas = media_gols_casa.merge(media_gols_fora, left_index=True, right_index=True)

# Mudando ordem das colunas
tabela_estatisticas = tabela_estatisticas[["Gols_Marcados_Casa", "Gols_Sofridos_Casa", "Gols_Marcados_Fora", "Gols_Sofridos_Fora"]]

display(tabela_estatisticas)

,Gols_Marcados_Casa,Gols_Sofridos_Casa,Gols_Marcados_Fora,Gols_Sofridos_Fora
Casa,,,,
América Mineiro,1.000000,2.000000,1.166667,2.333333
Athletico Paranaense,1.666667,1.055556,1.000000,1.176471
Atlético Mineiro,1.444444,0.833333,1.277778,0.666667
Bahia,1.388889,1.111111,1.055556,1.611111
Botafogo,2.000000,0.944444,1.166667,0.944444
Corinthians,1.388889,1.166667,1.055556,1.388889
Coritiba,0.888889,1.388889,1.333333,2.444444
Cruzeiro,0.705882,0.882353,1.166667,0.833333
Cuiabá,1.111111,1.222222,0.888889,0.833333
Flamengo,1.333333,0.833333,1.666667,1.388889
Fluminense,1.722222,0.833333,1.000000,1.555556
Fortaleza,1.500000,1.111111,0.764706,1.294118
Goiás,1.000000,1.388889,0.941176,1.470588
Grêmio,1.823529,0.882353,1.444444,2.111111
Internacional,1.500000,1.111111,0.777778,1.277778
Palmeiras,1.888889,0.666667,1.555556,1.111111
Red Bull Bragantino,1.529412,0.705882,1.111111,1.055556
Santos,1.388889,1.444444,0.722222,1.833333
São Paulo,1.555556,0.722222,0.555556,1.277778
Vasco da Gama,1.222222,1.222222,0.888889,1.444444

In [175]:
# Transformando o indice (Casa) em uma coluna da tabela
tabela_estatisticas = tabela_estatisticas.reset_index()

# Renomeando a coluna Casa para Times
tabela_estatisticas = tabela_estatisticas.rename(columns={"Casa":"Times"})

display(tabela_estatisticas)

,Times,Gols_Marcados_Casa,Gols_Sofridos_Casa,Gols_Marcados_Fora,Gols_Sofridos_Fora
0,América Mineiro,1.000000,2.000000,1.166667,2.333333
1,Athletico Paranaense,1.666667,1.055556,1.000000,1.176471
2,Atlético Mineiro,1.444444,0.833333,1.277778,0.666667
3,Bahia,1.388889,1.111111,1.055556,1.611111
4,Botafogo,2.000000,0.944444,1.166667,0.944444
5,Corinthians,1.388889,1.166667,1.055556,1.388889
6,Coritiba,0.888889,1.388889,1.333333,2.444444
7,Cruzeiro,0.705882,0.882353,1.166667,0.833333
8,Cuiabá,1.111111,1.222222,0.888889,0.833333
9,Flamengo,1.333333,0.833333,1.666667,1.388889
10,Fluminense,1.722222,0.833333,1.000000,1.555556
11,Fortaleza,1.500000,1.111111,0.764706,1.294118
12,Goiás,1.000000,1.388889,0.941176,1.470588
13,Grêmio,1.823529,0.882353,1.444444,2.111111
14,Internacional,1.500000,1.111111,0.777778,1.277778
15,Palmeiras,1.888889,0.666667,1.555556,1.111111
16,Red Bull Bragantino,1.529412,0.705882,1.111111,1.055556
17,Santos,1.388889,1.444444,0.722222,1.833333
18,São Paulo,1.555556,0.722222,0.555556,1.277778
19,Vasco da Gama,1.222222,1.222222,0.888889,1.444444

# Probabilidade e Valor Esperado

In [176]:
# Como a a partir das medias calcular a probabilidade do time ganhar/perder/empatar
def pontuacao_esperada(linha):
    
    time_casa = linha["Casa"]
    time_fora = linha["Fora"]


    # [Média de gols que o Cruzeiro faz dentro de casa] * [Média de gols que o Vasco sofre dentro de casa]

    #                           loc = localizar[          linha           ]==condição, "Coluna"                       
    lambda_gols_casa = (tabela_estatisticas.loc[tabela_estatisticas["Times"]==time_casa, "Gols_Marcados_Casa"].iloc[0]    # Vai na coluna de "Times" onde a linha for igual a "Cruzeiro" e pega o valor da coluna "Gols_Marcados_Casa"
                                                                                                                        #                                                   * -> multiplicando
                    * tabela_estatisticas.loc[tabela_estatisticas["Times"]==time_fora, "Gols_Sofridos_Fora"].iloc[0])  # Vai na coluna de "Times" onde a linha for igual a "Vasco" e pega o valor da coluna "Gols_Sofridos_Fora"

    # [Média de gols que o Cruzeiro faz dentro de casa] * [Média de gols que o Vasco sofre dentro de casa]
    lambda_gols_fora = (tabela_estatisticas.loc[tabela_estatisticas["Times"]==time_fora, "Gols_Marcados_Fora"].iloc[0]   # Vai na coluna de "Times" onde a linha for igual a "Vasco" e pega o valor da coluna "Gols_Marcados_Fora"
                                                                                                                        #                                                   * -> multiplicando
                    * tabela_estatisticas.loc[tabela_estatisticas["Times"]==time_casa, "Gols_Sofridos_Casa"].iloc[0]) # Vai na coluna de "Times" onde a linha for igual a "Cruzeiro" e pega o valor da coluna "Gols_Sofridos_Casa"

    pv_casa = 0
    p_empate = 0
    pv_fora = 0

    # Esse bloco de código vai calcular a probabilidade de varios resultados [0 a 7 gols], depois vai dar a probabilidade de vitória, derrota ou empate, analisando a probalidade dos resultados
    for gols_casa in range(8):
        for gols_fora in range(8):
            # Calculando a probabilidade de cada resultado
            probabilidade_resultado = poisson.pmf(gols_casa, lambda_gols_casa) * poisson.pmf(gols_fora, lambda_gols_fora)
            # Somando as probabilidades de empate
            if gols_casa == gols_fora:
                p_empate += probabilidade_resultado
            # Somando as probabilidades de vitória casa
            elif gols_casa > gols_fora:
                pv_casa += probabilidade_resultado
            # Somando as probabilidades de vitória fora
            elif gols_casa < gols_fora:
                pv_fora += probabilidade_resultado

    # Calculando resultado esperado do time casa
    ve_casa = pv_casa * 3 + p_empate * 1
    
    # Calculando resultado esperado do time fora
    ve_fora = pv_fora * 3 + p_empate * 1
    
    # Criando as duas colunas na tabela recebendo os resultados esperados
    linha["pontos_casa"] = ve_casa
    linha["pontos_fora"] = ve_fora

    return linha

In [177]:
# Aplicando a função criada em cada linha da tabela
tabela_jogos_faltantes = tabela_jogos_faltantes.apply(pontuacao_esperada, axis=1)
display(tabela_jogos_faltantes)

                     Casa                  Fora  pontos_casa  pontos_fora
12                  Goiás       América Mineiro     1.801065     0.992598
27               Cruzeiro  Athletico Paranaense     1.287204     1.373984
28                 Cuiabá  Athletico Paranaense     1.426268     1.305501
43                  Bahia      Atlético Mineiro     1.006247     1.723738
60        América Mineiro                 Bahia     1.097977     1.687359
94          Internacional              Botafogo     1.454181     1.288360
106              Coritiba           Corinthians     1.212140     1.531149
136   Red Bull Bragantino              Coritiba     2.564684     0.239341
144              Botafogo              Cruzeiro     1.758629     0.997249
169              Flamengo                Cuiabá     1.640451     1.044221
198             São Paulo              Flamengo     1.973233     0.818363
215             Palmeiras            Fluminense     2.573224     0.281940
236   Red Bull Bragantino             Fortaleza     2.339365     0.465070
237                Santos             Fortaleza     1.837683     0.928988
251             Fortaleza                 Goiás     2.099170     0.699960
253                Grêmio                 Goiás     2.420174     0.416899
270            Fluminense                Grêmio     2.450263     0.347750
285           Corinthians         Internacional     1.965394     0.801306
307              Cruzeiro             Palmeiras     0.920332     1.801350
339         Vasco da Gama   Red Bull Bragantino     1.322019     1.416609
341  Athletico Paranaense                Santos     2.550991     0.297638
362      Atlético Mineiro             São Paulo     2.334480     0.459252
393                Grêmio         Vasco da Gama     2.431319     0.406856

In [178]:
# Função para ajustar o nome dos times
def ajustar_nome_time(linha):
    for nome in nomes_times:
        if nome in linha["Equipevde"]:
            return nome

# Criando uma coluna e aplicando a função em cada linha para colocar o nome do time correspondente
tabela_classificacao["Times"] = tabela_classificacao.apply(ajustar_nome_time, axis=1)

# Pegando da tabela [tabela_classificacao] somente as colunas "Times" e "Pts"
tabela_classificacao_previsao = tabela_classificacao[["Times","Pts"]]

# Transformando a coluna "Pts" em inteiro
tabela_classificacao_previsao["Pts"] = tabela_classificacao_previsao["Pts"].astype(int)

C:\Users\gabri\AppData\Local\Temp\ipykernel_17252\3975942333.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_classificacao_previsao["Pts"] = tabela_classificacao_previsao["Pts"].astype(int)

In [179]:
# Criando a [tabela_pontuacao_casa] a partir da [tabela_jogos_faltantes] agrupando os times da coluna "Casa" e somando a coluna "pontos_casa", depois trazendo somente a coluna "pontos_casa" 
tabela_pontuacao_casa = tabela_jogos_faltantes.groupby("Casa").sum("pontos_casa")[["pontos_casa"]] 

# Criando a [tabela_pontuacao_fora] a partir da [tabela_jogos_faltantes] agrupando os times da coluna "Fora" e somando a coluna "pontos_fora", depois trazendo somente a coluna "pontos_casa
tabela_pontuacao_fora = tabela_jogos_faltantes.groupby("Fora").sum("pontos_fora")[["pontos_fora"]] 

display(tabela_pontuacao_casa)
display(tabela_pontuacao_fora)

                      pontos_casa
Casa
América Mineiro          1.097977
Athletico Paranaense     2.550991
Atlético Mineiro         2.334480
Bahia                    1.006247
Botafogo                 1.758629
Corinthians              1.965394
Coritiba                 1.212140
Cruzeiro                 2.207535
Cuiabá                   1.426268
Flamengo                 1.640451
Fluminense               2.450263
Fortaleza                2.099170
Goiás                    1.801065
Grêmio                   4.851493
Internacional            1.454181
Palmeiras                2.573224
Red Bull Bragantino      4.904050
Santos                   1.837683
São Paulo                1.973233
Vasco da Gama            1.322019

                      pontos_fora
Fora
América Mineiro          0.992598
Athletico Paranaense     2.679485
Atlético Mineiro         1.723738
Bahia                    1.687359
Botafogo                 1.288360
Corinthians              1.531149
Coritiba                 0.239341
Cruzeiro                 0.997249
Cuiabá                   1.044221
Flamengo                 0.818363
Fluminense               0.281940
Fortaleza                1.394058
Goiás                    1.116859
Grêmio                   0.347750
Internacional            0.801306
Palmeiras                1.801350
Red Bull Bragantino      1.416609
Santos                   0.297638
São Paulo                0.459252
Vasco da Gama            0.406856

In [180]:
# Função para atualizar a pontuação da [tabela_classificacao_previsao]
def atualizar_pontuacao(linha):
    # Pegando os times correspondentes
    time = linha["Times"]
    # Somando a pontuação atual + "pontuação_casa" da [tabela_pontuacao_casa] + "pontuacao_fora" da [tabela_pontuacao_fora]
    pontuacao = int(linha["Pts"]) + float(tabela_pontuacao_casa.loc[time, "pontos_casa"]) + float(tabela_pontuacao_fora.loc[time, "pontos_fora"])
    # Retornando a pontuação
    return pontuacao    

# Aplicando a função atualizar_pontuacao na [tabela_classificacao_previsao] e jogando o resultado para a coluna "Pts"
tabela_classificacao_previsao["Pts"] = tabela_classificacao_previsao.apply(atualizar_pontuacao, axis=1)

# Ordenando as linhas pela coluna "Pts" em ordem decrescente
tabela_classificacao_previsao = tabela_classificacao_previsao.sort_values(by="Pts", ascending=False)

# Resetando o indice da tabela
tabela_classificacao_previsao = tabela_classificacao_previsao.reset_index(drop=True)

# Somando um no indice da tabela pra começar com 1 e terminar com 20
tabela_classificacao_previsao.index = tabela_classificacao_previsao.index + 1

display(tabela_classificacao_previsao)

C:\Users\gabri\AppData\Local\Temp\ipykernel_17252\3431315210.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_classificacao_previsao["Pts"] = tabela_classificacao_previsao.apply(atualizar_pontuacao, axis=1)

                   Times        Pts
1              Palmeiras  70.374574
2       Atlético Mineiro  67.058218
3               Botafogo  66.046989
4               Flamengo  65.458814
5    Red Bull Bragantino  65.320659
6                 Grêmio  64.199243
7             Fluminense  58.732203
8   Athletico Paranaense  57.230476
9              São Paulo  52.432486
10         Internacional  51.255487
11           Corinthians  50.496542
12                Cuiabá  50.470489
13             Fortaleza  48.493228
14              Cruzeiro  47.204784
15                Santos  45.135320
16         Vasco da Gama  43.728875
17                 Bahia  43.693606
18                 Goiás  37.917925
19              Coritiba  31.451480
20       América Mineiro  23.090575